<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{% block title %}TITLE HERE{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/css.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <div class = "main-nav">
        <div class = "plant">
        
        </div>
        <div class= "nave-title">
        <h1 >DateNight</h1>
        </div>
        <div class = "plant"></div>
    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
        <!-- <span class="navbar-brand mb-0 h1"><big>Support the locals</big> <small><sup>5000</sup></small></span> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          {% if 'email' in session%}
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/homepage">Home <i class="fa fa-home" aria-hidden="true"></i></a>
              </li>
     
              <!-- <li class="nav-item">
                <a class="nav-link" href="/favorite_places">Favorites <i class="fa fa-heart" aria-hidden="true"></i></a>
              </li> -->
            </ul>
          </div>
          <!-- <a class="nav-link" href="/logout">Log out</a> -->
            {% else %}
            <div class="collapse navbar-collapse" id="navbarNav">
              <a class="nav-link" href="/">Create account</a>
            </div>
            
            <!-- <a class="nav-link" href="/login">Log in</a> -->
          {% endif%}
        
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-user-o" aria-hidden="true"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">

          {% if 'email' in session%}          
          <li><a class="dropdown-item" href="/manage"><i class="fa fa-cog" aria-hidden="true"></i> Manage Account</a></li>
          <li><a class="dropdown-item" href="/favorites"> <i class="fa fa-heart" aria-hidden="true"></i> Favorites</a></li>


          <li><a class="dropdown-item" href="/logout">Log out</a></li>

          {% else %}

          <li><a class="dropdown-item" href="/login">Log in</a></li>

          {% endif%}
        </ul>

      </div>

</div>
      </nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}


</head>
<body>

<div class = "box">
    {% block content %}CONTENT HERE{% endblock %}
    <!-- <div class = 'map-method'>
        <section class = 'method' >
            <label for="mode"> <h5>Mode of travel:</h5> </label>
            <select id="mode">
                <option value="DRIVING">Driving</option>
                <option value="WALKING">Walking</option>
                <option value="BICYCLING">Bicycling</option>
                <option value="TRANSIT">Transit</option>
            </select><br>
            <button class = 'btn btn-outline-info btn-sm' id = 'directions'> Get Directions</button>
        </section> -->
    <script>
        const locations = []

    </script>
    <script>
        const location_name = []
    </script>
 
    <div id = 'map_side'>
        <section class = 'map'>
            <div id='map'></div>
        </section>
        
        <div id="sidebar"></div>
        <div id = 'dir'></div>
    </div>
    
    <script>
        let cordinates1 = {{cordinates|tojson }};
       for (let i = 0; i < cordinates1.length; i++) {
        locations.push(cordinates1[i])
}

// console.log(locations)
    </script>
    <script>
        let location_names1 = {{location_names|tojson }};
        // console.log(location_names1)
       for (let i = 0; i < location_names1.length; i++) {
        location_name.push(location_names1[i])
}
console.log(location_name)
    </script>

    <script>
                
                let longitude = {{lon}};
                let latitude = {{lat}};
        </script>
     

    <script src="/static/js/maps.js"></script>
    <script
         async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6RD6DyM1gAfngaDFhVxdTSHovyuacjZA&callback=initMap">
    </script>
    
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>