{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}

<!-- <h1> Welcome {{name.title()}}, here are some date ideas</h1> -->

<div class = "wrapper2" >
 <div>
    <h1> Welcome {{name.title()}}, here are some date ideas</h1>
</div>
<div class = choices-container id = "containre">
    <div class = "form-comtainer choice-container" >
        <form  action = "/picnic">
            <h2>Picnic</h2>
            <button> Click Here</button>
        </form> 
        
    </div>

    <div class = "form-comtainer choice-container" >
        <form  action = "/restaurant">
            <h2>Restaurant</h2>
            <button> Click Here</button>
        </form> 
    
    </div>

    <div class = "form-comtainer choice-container" >
        <form  action = "/Movies">
            <h2>Movies</h2>
            <button> Click Here</button>
        </form> 
    
    </div>

    <div class = "form-comtainer choice-container" >
        <form  action = "/bars">
            <h2>Bars</h2>
            <button> Click Here</button>
        </form> 
    
    </div>

    <div class = "form-comtainer choice-container" >
        <form  action = "/museums">
            <h2>Museums</h2>
            <button> Click Here</button>
        </form> 
    
    </div>

    <div class = "form-comtainer choice-container" >
        <form  action = "/events">
            <h2>Events</h2>
            <button> Click Here</button>
        </form> 
    
    </div>

</div>









</div>




{% endblock %}

